:root {
	--background: #DFDFDF;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	min-height: 100%;
	box-sizing: border-box;
	background-color: var(--background);
	font-family: "Open Sans", sans-serif;
}