:root {
  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  /* LIGHT THEME */
  --background-1: #DFDFDF;
  --background-2: #D2D2D2;
  --background-3: #ECECEC;
  --background-4: #C1C1C1;
  --background-accent-1: #1E62C7;

  --color-2: #8E8E8E;
  --color-3: #5A5A5A;
  --color-accent-1: #5486ce;

  --hamburger-color: #676767;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100%;
  box-sizing: border-box;
  background-color: var(--background-1);
  font-family: "Open Sans", sans-serif;
}
